

body {
  color: #000000;
  background-color: #fff;

}

nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: 0px 10px 60px 5px #765827;
  background-color: #765827;
  color:#fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 0.5%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
  padding: 0px 10px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.register-btn {
  background-color: inherit;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.login-btn {
  background-color: #f1f1f1;
  color: #765827;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 140px;
}

.register-btn,
.login-btn {
  font-size: 16px;

}

.login-btn:hover {
  background-color: #ffeed0;
  border-radius: 7px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  margin-left: 90px;
  padding: 0px 20px;
  
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 600;
}

.hero-content h1 span{
  color: #765827;
}

.hero-content h1,
.hero-content p,
.hero-content button {
  margin: 20px 0px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #6e4503;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.hero-img {
  width: 60%;
  height: 500px;
  margin-right: 90px;
  padding-left: 25px;
}

.hero-img img {
  margin-left: 0;
  width: 100%;
}
